html,
body{
  margin: 0;
  padding: 0;
}

.Wrap{
  max-width: 1400px;
  margin: 0 auto;
}

.Header{
  width: 100%;
  height: 100px;
  background-color: orange;
}

.WrapMiddle{
  width: 100%;
  font-size: 0;
  overflow: hidden;
  position: relative;
}
.Middle{
  height: 600px;
  width: 100%;
  display: inline-block;
  background-color: yellow;
}

.Left{
  height: 600px;
  width: 21%;
  display: inline-block;
  background-color: lightgreen;
  position: absolute;
}

.Right{
  height: 600px;
  right: 0px;
  top: 0px;
  width: 10%;
  background-color: blue;
  position: absolute;
}

.Footer{
  height: 150px;
  widows: 100%;
  background-color: salmon;
}
